.avatar-scope {
  text-align: center;
  font-size: 14px;

  &.column {
    display: block;
  }

  &.row {
    display: flex;
    align-items: center;
  }

  .slider-container & {
    flex: 1;
    margin-bottom: 16px;
  }

  .avatar-content {
    overflow: hidden;
    background: #f6f8fa;
    text-align: center;
    flex-shrink: 0;

    &.circle {
      border-radius: 100%;
    }
  }
  .avatar-name {
    color: #000000;
    text-align: center;
  }
}
