.component-scope {
  background: #fff;

  &.large {
    font-size: 2em;
  }

  &.medium {
    font-size: 1em;
  }

  &.small {
    font-size: .8em;
  }


  @media screen and (min-width: 750px) {
    // mobile style
  }
}
