@import "antd/dist/reset.css";

.vitdoc-layout {
  .ant-pro-sider-logo {
    padding-block-start: 10px !important;
  }
  .vitdoc-logo {
    img {
      height: 22px;
    }
  }

  &.vitdoc-layout-collapsed {
    > .ant-layout {
      > aside {
        width: 0 !important;
        max-width: 0 !important;
        min-width: 0 !important;
        > .ant-layout-sider-children {
          padding-inline: 0 !important;
        }
        .ant-pro-sider-logo {
          display: none;
        }
        .ant-pro-sider-collapsed-button {
          left: 0;
          border-radius: 0 25px 25px 0;
        }
      }
    }
  }

  > section.ant-layout > aside {
    ul.ant-menu-root > li:first-child {
      margin-top: 12px;
    }
    .ant-pro-base-menu-group .ant-menu-item-group-title .anticon[role="img"] {
      margin-inline-end: 0;
    }
    background-color: #f7f9fa !important;
    .ant-pro-menu-submenu {
      margin: 0;
    }
  }

  .vitdoc-component-page > .ant-page-header .ant-page-header-heading-left {
    flex-direction: column;
    align-items: flex-start;
  }
}
