.cms-one-stop-title-scope {
  text-align: center;
  margin: 0 auto;
  &.ismobile-false {
    .cms-one-stop-title-container {
      > h2 {
        max-width: unset;
        font-size: 28px;
      }
    }
    .cms-sub-title {
      font-size: 20px;
    }
  }
  &.ismobile-true {
    .cms-one-stop-title-container {
      > h2 {
        font-size: 18px;
      }
    }
    .cms-sub-title {
      font-size: 12px;
    }
  }
  .cms-one-stop-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      display: block;
      &:first-child {
        margin-right: 1em;
      }
      &:last-child {
        margin-left: 1em;
      }
      margin-top: -8px;
    }

    > h2 {
      max-width: 65vw;
      font-size: 1.8em;
      color: #0d136c;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 10px;
      margin-top: 0;
    }
  }

  .cms-sub-title {
    font-size: 1.1em;
    color: #9394ac;
    text-align: center;
    line-height: 1.3;
    white-space: pre-line;
  }

  @media screen and (min-width: 750px) {
    margin-top: 1.3em;
  }
}
