.setter-form-item {
  flex-wrap: wrap;
  &-label {
    text-transform: capitalize;
    line-height: 32px;
    margin-right: 10px;
  }
  .has-tip {
    border-bottom: 1px dashed currentColor;
    cursor: help;
  }
  &-value {
    //max-width: 120px;
  }
}
